<div id = "title"><h1>{{title}}</h1>
<p>WELCOME TO {{title}}'S WORLD</p>
<button id="spaceMode">Activate Space Mode</button>
</div>


<div class = 'a' ><img id = 'yonce' src ="/imgs/bey-transparent.png"></div>

<audio id = "music" autoplay="autoplay">
     <source src="/audio/girls.mp3" />
 </audio>
