body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

/*Centering of title: css-tricks.com*/
#title{
  position: absolute;
  text-align: center;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

div.a {
  width: 150px;
  height:300px;
  position:fixed;
}
a {
  color: #00B7FF;
}
