@font-face{
  font-family: Steelfish; src: url('/fonts/steelfish.ttf');
}
body {
  padding: 50px;
  font: 65px;
  font-family: Steelfish, sans-serif;
}


/*Centering of title: css-tricks.com*/
#title{
  position: absolute;
  text-align: center;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 65px;
}

div.a {
  width: 150px;
  height:300px;
  position:fixed;
}
a {
  color: #00B7FF;
}
