@font-face{
  font-family: Steelfish; src: url('/fonts/steelfish.ttf');
}
body {
  padding: 50px;
  font: 65px;
  font-family: Steelfish, sans-serif;
}


/*Centering of title: css-tricks.com*/
#title{
  position: absolute;
  text-align: center;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 65px;
}

div.a {
  width: 150px;
  height:300px;
  position:fixed;
}
a {
  color: #00B7FF;
}

div.a_rotate {
  animation-name: spin;
  animation-duration: 30000ms;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

.a_rotate {
  color: #00B7FF;
}

@-moz-keyframes spin {
    from { -moz-transform: rotate(0deg); }
    to { -moz-transform: rotate(360deg); }
}
@-webkit-keyframes spin {
    from { -webkit-transform: rotate(0deg); }
    to { -webkit-transform: rotate(360deg); }
}
@keyframes spin {
    from {transform:rotate(0deg);}
    to {transform:rotate(360deg);}
}